<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Card</title>
    <link rel="stylesheet" href="../output.css" />
  </head>
  <body>
    <div class="container flex justify-center items-center">
      <div class="w-100 h-150 relative m-10 shadow-2xl">
        <img
          src="../assets/sepatu-transparant.png"
          class="bg-linear-[45deg] from-[#141414] to-blue-500"
          alt="Gambar Product Sepatu"
        />
        <div
          class="bg-[#14141455] rounded-full w-10 h-10 flex justify-center items-center absolute top-2 right-2"
        >
          <img
            src="../assets/heart-regular-full.svg"
            class="w-6 h-6 invert brightness-200"
            alt="Icon"
          />
        </div>
        <div class="bg-white absolute bottom-0 px-4 py-1.5 rounded-t-xl pb-5">
          <h2 class="font-bold text-2xl">Nike Running Shoe</h2>
          <span
            class="border-2 rounded text-gray-500 text-[10px] font-bold p-1 border-gray-400"
            >EURO</span
          >
          <span
            class="border-2 rounded text-gray-500 text-[10px] font-bold p-1 border-gray-400"
            >BLACK/WHITE</span
          >

          <p class="mt-5 text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            quos adipisci quis.
          </p>

          <div class="flex justify-between mt-10">
            <div>
              <p class="text-[10px] font-bold">PRICE</p>
              <h2 class="text-2xl font-black">$69.99</h2>
            </div>
            <button class="bg-blue-500 text-white w-50 rounded-[5px]">
              Add to Cart
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
